<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726125898741-g5m0uk2j4j0efa0i5pdb1jmr5pk2gcjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726125898741-g5m0uk2j4j0efa0i5pdb1jmr5pk2gcjn</string>
	<key>API_KEY</key>
	<string>AIzaSyBdGanqZ42WYjVawNDOPFR0JcEjZ107qgo</string>
	<key>GCM_SENDER_ID</key>
	<string>726125898741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PragunSharma.PokeSearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-b72f6</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-b72f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:726125898741:ios:2e3e6e4d649d139c</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-b72f6.firebaseio.com</string>
</dict>
</plist>